<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <% if (user.message) { %>
            <div><%= user.message %></div>
        <% } %>
        <%= user.DisplayName %>
        <br>
        <%= user.email %>
        <br>
        <%= user.FirstName %>
        <br>
        <%= user.LastName %>
        <br>
    </div>
</body>
</html>